# openocd.cfg
log_output openocd.log
debug_level 0

source [find board/st_nucleo_h745zi.cfg]

# WSL/usbipd can be jittery; 4000-8000 is the sweet spot
adapter speed 8000

# This ensures the telnet port stays open for our bash script
telnet_port 4444
# Bind to localhost for security
bindto 127.0.0.1
